<!-- GET /albums/:id -->

<html>
  <head></head>
  <body>
    <h3><a href="/albums">Back to Albums</a></h3>
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%= @album.release_year %> <br>
      Artist: <%= @artist.name %>
    </p>
  </body>
</html>